@import './card';
@import './rating';

.social-hero-container {
    
    width: 60em;

    .row1 {
        
        display: flex;
        align-items: center;
        justify-content: space-around;

        .social-hero-left {
            width: 25em;

            .title {
                font-size: 3em;
                margin: 0.9em 0em;
                color: $VeryDarkMagenta;
            }

            .subtitle {
                line-height: 1.2em;
                color: $DarkGrayishMagenta;
            }
        }

        .social-hero-right {
            width: 27em;
            display: flex;
            flex-direction: column;
            gap:1em;

            .rating1 {
                margin-left: 50px;
            }

            .rating2 {
                margin-left: 100px;
            }
        }
    }

    .row2 {
        margin: 1.2em 0em;
        
        display: flex;
        align-items: center;
        justify-content: space-around;

        .card1 {
            margin-top: 50px;
        }

        .card2{
            margin-top: 100px;
        }
    }

}

@media only screen and (max-width: 1100px) {
    .social-hero-container {
        text-align: center;
        margin-top: 40em;
        width: 17em;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        .row1 {
           
            flex-direction: column;

            .social-hero-left {
                width: 17em;
            }
            .social-hero-right {
                margin-top: 3em;
                width: 100%;
                .rating1 {
                    margin-left: 0px;
                }
    
                .rating2 {
                    margin-left: 0px;
                }
            }
        }
        .row2 {
            width: 17em; 
            flex-direction: column;
            .card1 {
                margin-top: 10px;
            }
    
            .card2{
                margin-top: 10px;
            }
        }
    }
}